 #search {
 	 background-color: #F5F5F5; 
    height: 40px; width: 50%; 
    border-radius: 20px; max-width: 100%;
 }
 /*#search:hover {
         border: 0;
 }*/
 #form1 {
  text-align: center;
 }
  
.goo {
    font-size: 100px; margin: auto; max-width: 100%; height: auto;
}
.greenyellow {
        color: greenyellow;
}